{% extends "base.html" %}
{% load static %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block slideshow %}
{% include "slideshow.html" %}
{% endblock %}

{% block content %}
<h2 style="color:red" align = "center">Frequent Asked Questions</h2>

<div class="w3-row-padding">
  <div class="w3-third">
<h4 style="color:blue">1. How long does it take to create a website?</h4>
<p>
The time necessary to create a functional website heavily relies on a variety of factors. For instance, custom design work ranges
 from 1-2 week based on the complexity of the design and the revision necessary. On the other hand, the development phase needs
  and addition 1-4 week based on the site’s functionality and the number of web pages. However, these are the general guidelines,
   and we aim to make all the necessary efforts to meet your desired timeframe.
 </p>
</div>

<div class="w3-third">
 <h4 style="color:blue">2. Can I see my website while it’s in progress?</h4>

 <p>
   Yes! Furthermore, we encourage our clients to be part of the process.
    Websites are built on our development server where we provide customers with the username and
     password to allow them to login and monitor the work in progress. During this phase, clients are allowed
      to provide crucial feedback, and changes are made accordingly. After completing the development process and
       receiving the clients’ approval, we release the website onto the clients’ server and submit the URL to the major
        search engines.
      </p>
</div>

<div class="w3-third">
  <h4 style="color:blue">3. What do your websites cost?</h4>

  <p>
    Numerous factors contribute to the website cost that cannot be effectively exhausted using a single sentence.
     To get a better idea of the approximate cost of your website kindly contact us, where we will ask you a few
      questions regarding the nature of your website, for instance, the interactivity you require, the graphic design
       necessary, etc. then will be able to give you a quote.
     </p>
</div>
</div>

<div class="w3-row-padding">
<div class="w3-third">
  <h4 style="color:blue">4. I already have a website. Why isn’t it listed well on Google </h4>

  <p>
    The reason for this is that although many companies effectively create websites, they lack the necessary experience
     to ensure the site ranks well on major search engines such as Google. The key to ranking on major search engines
      requires a company that has experienced Search Engine Optimization. By using a variety of techniques, we can improve
       your business exposure.
 </p>
</div>

<div class="w3-third">
 <h4 style="color:blue">5. What if I need to make changes to my website? </h4>

 <p>
   We can be able to edit your website and carry out the necessary changes that you may require using our available software.
    Furthermore, by installing a content management system, we can maintain your website.
  </p>
</div>

<div class="w3-third">
 <h4 style="color:blue">6. What if i need improvents or maintainance on the website? </h4>

 <p>
   Nolecraft assigns an IT expert to each client.The IT expert ensures the web is up and running well all the time.
  </p>
</div>

</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
